.file-uploader {
    width: 95%;
    flex: 0 1 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    border-radius: 0.5rem;

    #file-input {
        display: none;
    }

    label[for="file-input"] {
        padding: 2.5em 1.5em;
        flex: 1 1 auto;
        text-align: center;
        color: var(--primary-contrast) !important;
        background-color: transparent;
        border: 1px solid var(--form-border);
        border-radius: 0.5rem;
        cursor: pointer;
    }
}
.file-present {
    flex: 0 1 40rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    .file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65%;
        color: var(--primary-contrast) !important;
        border: 1px solid var(--form-border);
        margin: 0 2rem 0 0;
        border-radius: 0.5rem;
        padding: 1em 1.5em;
    }
}
